
@{
    ViewBag.Title = "Administration";
}

<h2>Administration</h2>

<div>

    <ul>
        <li>
            <a href="@Url.Action("Index")" class="transBtn" style="color: aliceblue;">Admin Control</a>
        </li>
        <li>
            <a href="@Url.Action("FlightControl")" class="transBtn" style="color: aliceblue;">Flight Control</a>
        </li>
        <li>
            <a href="@Url.Action("UsersControl")" class="transBtn" style="color: aliceblue;">Users Control</a>
        </li>
        <li>
            <a href="@Url.Action("CardsControl")" class="transBtn" style="color: aliceblue;">Credit Cards Control</a>
        </li>
    </ul>
    
</div>

